*{  position: relative;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
body{
    background-color: rgb(251, 245, 243);
    position: absolute;
}
section{
    margin-bottom: 100px;
}
.banner{
    background-image: url(../images/banner/banner1.png);
    width: 1600px;
    background-repeat: no-repeat;       

}

.welcome{
    text-align: right;
    font-size: 35px;
    padding: 225px 100px 216px 645px;
}
.banner-btn{
    font-size: 20px;
    margin-top: 100px;
    height: 60px;
    width: 180px;
    color: white;
    background-color: rgb(233, 69, 4);
    border: none;
    border-radius: 5px;
}
main{
    margin: 0 150px;
}
.failure{
    display: flex;
    justify-content: space-around;
    gap: 200px;
}
.failure-description{
    padding: 250px 0 0 50px;
}
.wish{
    margin-top: 10px;
}
p{
    margin: 20px 0;
    color: #7f7e7e;
    font-size: 15px;
}
li{
  list-style: none;
  color: #7f7e7e;
  font-size: 15px;
}
.done{
    height: 15px;
    width: 20px;
    color: #16D887;
}
.plan{
    text-align: center;
    margin-bottom: 50px;
}
h4{
    color: #7f7e7e; 
}
.plan-elements{
    display: flex;
    justify-content: space-around;
}
.plan-element{
    text-align: center;
}
.how{
    display: flex;
    justify-content: space-around;
    gap: 5px;
}
.how-description{
    height: 300px;
    width: 700px;
}
.how-head{
    text-align: center;
    padding-bottom: 50px;
}
h2{
    font-size: 30px;
}
.call-btn{
    margin-top: 20px;
    font-size: 20px;
    height: 60px;
    width: 180px;
    color: rgb(233, 69, 4);
    background-color: white;
    border: none;
    border-radius: 5px;
}
#call-area{
    background-image: linear-gradient(to right, rgba(247, 89, 27, 0.911), rgba(243, 237, 237, 0.129)), url(../images/watch.png);
    background-repeat: no-repeat;
    width: 1100px;
    height: 250px;
    border-radius: 10px;
    margin-left: 100px;
}
.mindset{
    color: white;
}
.mindset-area{
    padding: 50px 0 30px 60px ;
}
/* footer */
footer{
    width: 1600px;
    height: 580px;
    display: flex;
    background-color: black;
}
.footer-left{
    height: 315px;
    width: 485px;
    padding: 160px;
}
.footer-right{
    padding: 160px;
}
.footer-text{
    color: white;

}
.para{
    font-size: 15px;
    
}
.social{
    padding: 0 20px;
}
.subscribe{
    color: white;
}
.email{
    padding: 15px 0;
}
input{
    height: 40px;
    width: 200px;
    padding-left: 10px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
.fa-check{
    color: #16D887;
  }
.line-h{
    line-height: 25px;
}
.bold{
    font-size: 25px;
    color: rgba(247, 89, 27, 0.911);
}
  
